.buttonContainer {
  margin: auto;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.drop {
  display: none;
  cursor: pointer;
  background-color: #cbbaf6;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}
.attachment:hover .drop {
  display: flex;
  justify-content: space-between;
}
.drop:hover {
  background-color: #ae8bf9;
}
.fileitem {
  margin: auto;
  align-items: center;
  max-width: 500px;
  justify-content: space-between;
  display: flex;
}
